<!-- content -->
   <div id="content" class="app-content" role="main">
  		<div class="app-content-body "> 
			<div class="wrapper-md">
				<div class="panel panel-default">
			    	<div class="panel-heading font-bold">                  
			      		Numbers
			    	</div>
			    	<div class="panel-body">
			    	    <div style="margin-bottom:10px">
			      			<a href="/contectNumbers" class="btn btn-info">Buy Number</a>
			      		</div>
			      		<% if(data.error!= '' && data.error!=undefined){ %>
			      		<div class="wrapper text-center">
                          <strong ><%= data.error %></strong>
                         </div>
			    		<div>
			    		<% } %>
			      		<table  class="table" >
								<thead>
								
									<tr>
										<th>Sr.No.</th>
										<th>Contact Name</th>
										<th>Phone Number</th>
										<th>No.SID</th>
										<th>SID</th>
										
										
										<th>Time Allocation</th>
									</tr>
								</thead>
								<tbody>
									<%  var i=1; numbers. forEach(function(number) { %>
									<tr>
									    <td><%= i %></td>
									    <td><%= number.contact_name %></td>
									    <td><%= number.phone_number %></td>
										<td><%= number.sid %></td>
								        <td><%= number.account_sid %></td>								       										
										<td><a href="/allocateTime/number/<%= number.id %>" class="btn btn-sm btn-info">Time Allocation</a></td>
									</tr>
									<% }); %>
								</tbody>
							</table>
			      		</div>
			    	</div>

			  	</div>
			</div>
		</div>
  	</div> 
  <!-- /content -->
  
  <!-- footer -->

  <!-- / footer -->