<!-- content -->
   <div id="content" class="app-content" role="main">
  		<div class="app-content-body "> 
			<div class="wrapper-md">
				<div class="panel panel-default">
			    	<div class="panel-heading font-bold">                  
			      		User
			    	</div>
			    	<div class="panel-body">
			    		<div style="margin-bottom:10px">
			      			<a href="/user/form" class="btn btn-info">Add User</a>
			      		</div>
			      		<div>
			      			<table  class="table" >
								<thead>
									<tr>
										<th>Sr.No.</th>
										<th>First name</th>
										<th>Last name</th>
										<th>Email</th>
										<th>Action</th>
										<th>Time Allocation</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
									    <td><%= list1.firstname %></td>
									    <td><%= list1.lastname %></td>
										<td><%= list1.email %></td>
										<td></td>
										<td><a href="/allocateTime/<%= list1.id %>" class="btn btn-sm btn-info">Time Allocation</a></td>
									</tr>
									<%  var i=2; list. forEach(function(dataob) { %>
									<tr>
										<td><%= i++ %></td>
									    <td><%= dataob.firstname %></td>
									    <td><%= dataob.lastname %></td>
										<td><%= dataob.email %></td>
										<td><a href="/users/edit/<%= dataob.id %>" class="btn btn-sm btn-warning">Edit</a>
										<!-- <a href="/user/changePassword/<%= dataob.id %>" class="btn btn-sm btn-primary">Change password</a> -->
										<a href="/users/delete/<%= dataob.id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a></td>
										<td><a href="/allocateTime/<%= dataob.id %>" class="btn btn-sm btn-info">Time Allocation</a></td>
									</tr>
									<% }); %>
								</tbody>
							</table>
			      		</div>
			    	</div>

			  	</div>
			</div>
		</div>
  	</div> 
  <!-- /content -->
  
  <!-- footer -->

  <!-- / footer -->