
 <div id="content" class="app-content" role="main">
  		<div class="app-content-body "> 
			<div class="wrapper-md">
				<div class="panel panel-default">
			    	<div class="panel-heading font-bold">                  
			      		Call Log
			    	</div>
			    	<div class="panel-body">			    		
			      		<div>
			      			<table  class="table" >
								<thead>
									<tr>
										<th>Sr.No.</th>
										<th>SID</th>
										<th>start_time</th>
										<th>end_time</th>
										<th>duration</th>
										<th>status</th>																		
									</tr>
								</thead>
								<tbody>
									<	<%  var i=2; data1.list. forEach(function(dataob) { %>
								 	<tr>
										<td><%= i++ %></td>
									    <td><%= dataob.sid %></td>
										<td><%= moment.tz(dataob.start_time,"Asia/Kolkata").format('DD-MM-YYYY HH:mm') %></td>
										<td><%= moment.tz(dataob.end_time, "Asia/Kolkata").format('DD-MM-YYYY HH:mm') %></td>										 
									
										<td><%= dataob.duration %></td>
										<td><%= dataob.status %></td>
									   									
									</tr> 
									<% }); %>
								
								</tbody>
							</table>
			      		</div>
			    	</div>

			  	</div>
			</div>
		</div>
  	</div> 
  